<h2>Here are some dashboards </h2>
<button (click)="addDashboard()">Add Dashboard</button>
<div *ngIf="selectedDashboardId$ | async as selectedDashboardId">
  {{selectedDashboardId}}
</div>
<ul class="dashboards" *ngIf="dashboards$ | async as dashboards">
  <li *ngFor="let dashboard of dashboards; let i=index"
    (click)="displayDashboard(dashboard)">
    <span class="badge">{{i + 1}}</span> {{dashboard.title}}
    <button (click)="deleteDashboard(dashboard)">Delete</button>
    <button (click)="editDashboard(dashboard)">Edit</button>
  </li>
</ul>
