<h2>Here are some dashboards </h2>

<mat-nav-list *ngIf="dashboards$ | async as dashboards">
  <mat-list-item *ngFor="let dashboard of dashboards; let i=index"
    (click)="displayDashboard(dashboard)">
    <div class="mat-list-text">{{dashboard.title}}</div>
    <button mat-mini-fab color="primary" (click)="editDashboard(dashboard)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab color="warn" (click)="deleteDashboard(dashboard)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>

<button mat-raised-button color="primary" (click)="addDashboard()">Add Dashboard</button>
